In [33]:
import numpy as np
import pandas as pd
from sklearn.model_selection import cross_val_score, KFold, GridSearchCV, train_test_split
from sklearn.preprocessing import StandardScaler, MinMaxScaler, LabelEncoder
from collections import Counter
from matplotlib import pyplot as plt
import xgboost as xgb
from sklearn.metrics import roc_auc_score
%matplotlib inline

In [3]:
dataset_train = pd.read_csv('train_set.csv', delimiter=',')
dataset_train.head(5)

,ID,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,1,43,management,married,tertiary,no,291,yes,no,unknown,9,may,150,2,-1,0,unknown,0
1,2,42,technician,divorced,primary,no,5076,yes,no,cellular,7,apr,99,1,251,2,other,0
2,3,47,admin.,married,secondary,no,104,yes,yes,cellular,14,jul,77,2,-1,0,unknown,0
3,4,28,management,single,secondary,no,-994,yes,yes,cellular,18,jul,174,2,-1,0,unknown,0
4,5,42,technician,divorced,secondary,no,2974,yes,no,unknown,21,may,187,5,-1,0,unknown,0

In [4]:
dataset_test = pd.read_csv('test_set.csv', delimiter=',')
dataset_test.head(5)

,ID,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome
0,25318,51,housemaid,married,unknown,no,174,no,no,telephone,29,jul,308,3,-1,0,unknown
1,25319,32,management,married,tertiary,no,6059,yes,no,cellular,20,nov,110,2,-1,0,unknown
2,25320,60,retired,married,primary,no,0,no,no,telephone,30,jul,130,3,-1,0,unknown
3,25321,32,student,single,tertiary,no,64,no,no,cellular,30,jun,598,4,105,5,failure
4,25322,41,housemaid,married,secondary,no,0,yes,yes,cellular,15,jul,368,4,-1,0,unknown

In [5]:
dataset_1 = dataset_train
dataset_2 = dataset_test

In [8]:
dataset_1.dtypes

ID            int64
age           int64
job          object
marital      object
education    object
default      object
balance       int64
housing      object
loan         object
contact      object
day           int64
month        object
duration      int64
campaign      int64
pdays         int64
previous      int64
poutcome     object
y             int64
dtype: object

In [11]:
for col in dataset_1.columns[dataset_1.dtypes == 'object']:
    lh = LabelEncoder()
    lh.fit(dataset_1[col])
    dataset_1[col] = lh.transform(dataset_1[col])
dataset_1.head()

,ID,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,1,43,4,1,2,0,291,1,0,2,9,8,150,2,-1,0,3,0
1,2,42,9,0,0,0,5076,1,0,0,7,0,99,1,251,2,1,0
2,3,47,0,1,1,0,104,1,1,0,14,5,77,2,-1,0,3,0
3,4,28,4,2,1,0,-994,1,1,0,18,5,174,2,-1,0,3,0
4,5,42,9,0,1,0,2974,1,0,2,21,8,187,5,-1,0,3,0

In [14]:
dataset_1.describe()

,ID,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
count,25317.000000,25317.000000,25317.000000,25317.000000,25317.000000,25317.000000,25317.000000,25317.000000,25317.000000,25317.000000,25317.000000,25317.000000,25317.000000,25317.000000,25317.000000,25317.000000,25317.000000,25317.000000
mean,12659.000000,40.935379,4.330687,1.167555,1.226291,0.017696,1357.555082,0.553778,0.160327,0.640163,15.835289,5.523166,257.732393,2.772050,40.248766,0.591737,2.558399,0.116957
std,7308.532719,10.634289,3.269565,0.608091,0.750483,0.131845,2999.822811,0.497109,0.366916,0.897537,8.319480,3.010054,256.975151,3.136097,100.213541,2.568313,0.989615,0.321375
min,1.000000,18.000000,0.000000,0.000000,0.000000,0.000000,-8019.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000,-1.000000,0.000000,0.000000,0.000000
25%,6330.000000,33.000000,1.000000,1.000000,1.000000,0.000000,73.000000,0.000000,0.000000,0.000000,8.000000,3.000000,103.000000,1.000000,-1.000000,0.000000,3.000000,0.000000
50%,12659.000000,39.000000,4.000000,1.000000,1.000000,0.000000,448.000000,1.000000,0.000000,0.000000,16.000000,6.000000,181.000000,2.000000,-1.000000,0.000000,3.000000,0.000000
75%,18988.000000,48.000000,7.000000,2.000000,2.000000,0.000000,1435.000000,1.000000,0.000000,2.000000,21.000000,8.000000,317.000000,3.000000,-1.000000,0.000000,3.000000,0.000000
max,25317.000000,95.000000,11.000000,2.000000,3.000000,1.000000,102127.000000,1.000000,1.000000,2.000000,31.000000,11.000000,3881.000000,55.000000,854.000000,275.000000,3.000000,1.000000

In [13]:
for col in dataset_2.columns[dataset_2.dtypes == 'object']:
    lh = LabelEncoder()
    lh.fit(dataset_2[col])
    dataset_2[col] = lh.transform(dataset_2[col])
dataset_2.head()

,ID,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome
0,25318,51,3,1,3,0,174,0,0,1,29,5,308,3,-1,0,3
1,25319,32,4,1,2,0,6059,1,0,0,20,9,110,2,-1,0,3
2,25320,60,5,1,0,0,0,0,0,1,30,5,130,3,-1,0,3
3,25321,32,8,2,2,0,64,0,0,0,30,6,598,4,105,5,0
4,25322,41,3,1,1,0,0,1,1,0,15,5,368,4,-1,0,3

In [15]:
dataset_all = pd.concat([dataset_1, dataset_2])
std_scaler = StandardScaler()
dataset_all[['age','job','balance', 'duration', 'campaign', 'pdays', 'previous','day','month']] = std_scaler.fit_transform(dataset_all[['age','job','balance', 'duration', 'campaign', 'pdays', 'previous','day','month']])
dataset_all.head()

E:\Anaconda\Software\envs\py3.5\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.
E:\Anaconda\Software\envs\py3.5\lib\site-packages\sklearn\preprocessing\data.py:617: DataConversionWarning: Data with input dtype int32, int64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
E:\Anaconda\Software\envs\py3.5\lib\site-packages\sklearn\base.py:462: DataConversionWarning: Data with input dtype int32, int64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)

,ID,age,balance,campaign,contact,day,default,duration,education,housing,job,loan,marital,month,pdays,poutcome,previous,y
0,1,0.191084,-0.347627,-0.247734,2,-0.816503,0,-0.421799,2,1,-0.105027,0,1,0.824275,-0.411587,3,-0.244403,0.0
1,2,0.097094,1.196503,-0.568823,0,-1.057050,0,-0.621770,0,1,1.424748,0,0,-1.833644,2.108300,1,0.601067,0.0
2,3,0.567040,-0.407972,-0.247734,0,-0.215138,0,-0.708032,1,1,-1.328848,1,1,-0.172444,-0.411587,3,-0.244403,0.0
3,4,-1.218753,-0.762299,-0.247734,0,0.265955,0,-0.327695,1,1,-0.105027,1,2,-0.172444,-0.411587,3,-0.244403,0.0
4,5,0.097094,0.518183,0.715532,2,0.626774,0,-0.276722,1,1,1.424748,0,0,0.824275,-0.411587,3,-0.244403,0.0

In [17]:
dataset_train_columns = list(set(dataset_all) - set(['ID', 'y']))
dataset__train_set = dataset_all[dataset_train_columns].iloc[:25317,:]
#dataset__train_y_set = dataset_all.iloc[:25317,['y']]
dataset__train_y_set = dataset_all['y'].iloc[:25317].T
dataset__test_set = dataset_all[dataset_train_columns].iloc[25317:,:]

In [53]:
x_train, x_val, y_train, y_val = train_test_split(dataset__train_set, dataset__train_y_set, test_size=0.2, random_state=7)

In [57]:
type(y_val.values)

numpy.ndarray

In [88]:
params = {
    'booster': 'gbtree',
    'eta': 0.05,
    'max_depth': 9,
    'objective': 'binary:logistic',
    'eval_metric':'auc',
    'seed':7
}
train_data = xgb.DMatrix(x_train, label=y_train)
val_data = xgb.DMatrix(x_val, label=y_val)
test_data = xgb.DMatrix(dataset__test_set)
#xgbc = xgb.XGBClassifier(**params)
#xgbc.fit(x_train, y_train, eval_set=(x_val, y_val), eval_metric='auc', early_stopping_rounds=50, verbose=1)
watchlist =[(train_data,'train'),(val_data,'val')]

In [64]:
bst = xgb.train(params, train_data, 2000, watchlist, early_stopping_rounds=20, verbose_eval=1)

[0]	train-auc:0.919802	val-auc:0.890883
Multiple eval metrics have been passed: 'val-auc' will be used for early stopping.

Will train until val-auc hasn't improved in 20 rounds.
[1]	train-auc:0.921649	val-auc:0.892186
[2]	train-auc:0.926655	val-auc:0.89942
[3]	train-auc:0.927337	val-auc:0.89887
[4]	train-auc:0.9297	val-auc:0.901548
[5]	train-auc:0.931764	val-auc:0.902721
[6]	train-auc:0.932976	val-auc:0.903378
[7]	train-auc:0.937626	val-auc:0.909387
[8]	train-auc:0.93932	val-auc:0.911943
[9]	train-auc:0.940989	val-auc:0.913154
[10]	train-auc:0.942707	val-auc:0.913642
[11]	train-auc:0.944249	val-auc:0.914397
[12]	train-auc:0.945283	val-auc:0.914856
[13]	train-auc:0.946936	val-auc:0.915885
[14]	train-auc:0.947825	val-auc:0.916191
[15]	train-auc:0.949747	val-auc:0.917124
[16]	train-auc:0.951709	val-auc:0.917517
[17]	train-auc:0.952977	val-auc:0.917954
[18]	train-auc:0.954611	val-auc:0.919409
[19]	train-auc:0.955705	val-auc:0.920008
[20]	train-auc:0.956295	val-auc:0.920526
[21]	train-auc:0.956941	val-auc:0.920942
[22]	train-auc:0.957679	val-auc:0.921063
[23]	train-auc:0.958704	val-auc:0.921181
[24]	train-auc:0.959424	val-auc:0.921091
[25]	train-auc:0.959893	val-auc:0.921181
[26]	train-auc:0.960675	val-auc:0.921713
[27]	train-auc:0.961217	val-auc:0.922021
[28]	train-auc:0.961543	val-auc:0.921973
[29]	train-auc:0.961935	val-auc:0.921935
[30]	train-auc:0.962415	val-auc:0.922249
[31]	train-auc:0.963159	val-auc:0.922646
[32]	train-auc:0.963667	val-auc:0.922783
[33]	train-auc:0.964125	val-auc:0.923043
[34]	train-auc:0.964586	val-auc:0.922792
[35]	train-auc:0.965007	val-auc:0.922931
[36]	train-auc:0.966165	val-auc:0.923346
[37]	train-auc:0.966979	val-auc:0.923759
[38]	train-auc:0.967627	val-auc:0.923828
[39]	train-auc:0.968206	val-auc:0.923824
[40]	train-auc:0.968768	val-auc:0.923811
[41]	train-auc:0.969285	val-auc:0.923823
[42]	train-auc:0.969686	val-auc:0.923619
[43]	train-auc:0.970224	val-auc:0.923853
[44]	train-auc:0.970545	val-auc:0.923693
[45]	train-auc:0.971117	val-auc:0.924096
[46]	train-auc:0.971624	val-auc:0.924062
[47]	train-auc:0.972036	val-auc:0.92418
[48]	train-auc:0.972584	val-auc:0.92406
[49]	train-auc:0.973001	val-auc:0.923979
[50]	train-auc:0.973377	val-auc:0.923821
[51]	train-auc:0.973833	val-auc:0.923872
[52]	train-auc:0.974154	val-auc:0.923872
[53]	train-auc:0.974598	val-auc:0.923793
[54]	train-auc:0.975028	val-auc:0.923849
[55]	train-auc:0.975439	val-auc:0.923776
[56]	train-auc:0.975852	val-auc:0.923912
[57]	train-auc:0.976167	val-auc:0.924011
[58]	train-auc:0.976523	val-auc:0.924428
[59]	train-auc:0.976802	val-auc:0.924245
[60]	train-auc:0.977118	val-auc:0.924447
[61]	train-auc:0.977401	val-auc:0.924569
[62]	train-auc:0.977821	val-auc:0.924847
[63]	train-auc:0.978166	val-auc:0.924945
[64]	train-auc:0.978458	val-auc:0.925026
[65]	train-auc:0.97872	val-auc:0.925188
[66]	train-auc:0.978942	val-auc:0.925364
[67]	train-auc:0.97921	val-auc:0.925348
[68]	train-auc:0.979576	val-auc:0.925537
[69]	train-auc:0.979827	val-auc:0.925425
[70]	train-auc:0.980089	val-auc:0.925571
[71]	train-auc:0.980291	val-auc:0.925474
[72]	train-auc:0.980557	val-auc:0.925486
[73]	train-auc:0.980809	val-auc:0.925588
[74]	train-auc:0.981124	val-auc:0.925723
[75]	train-auc:0.981341	val-auc:0.925885
[76]	train-auc:0.981626	val-auc:0.925879
[77]	train-auc:0.981838	val-auc:0.925957
[78]	train-auc:0.982044	val-auc:0.926046
[79]	train-auc:0.982235	val-auc:0.92607
[80]	train-auc:0.982411	val-auc:0.92603
[81]	train-auc:0.982667	val-auc:0.926177
[82]	train-auc:0.982904	val-auc:0.926133
[83]	train-auc:0.983175	val-auc:0.926131
[84]	train-auc:0.983386	val-auc:0.926082
[85]	train-auc:0.983707	val-auc:0.926088
[86]	train-auc:0.983949	val-auc:0.926042
[87]	train-auc:0.984191	val-auc:0.92622
[88]	train-auc:0.9844	val-auc:0.926246
[89]	train-auc:0.984691	val-auc:0.926507
[90]	train-auc:0.984858	val-auc:0.926458
[91]	train-auc:0.985065	val-auc:0.926635
[92]	train-auc:0.98529	val-auc:0.926596
[93]	train-auc:0.985471	val-auc:0.926817
[94]	train-auc:0.985658	val-auc:0.926847
[95]	train-auc:0.985764	val-auc:0.926814
[96]	train-auc:0.985947	val-auc:0.926836
[97]	train-auc:0.98608	val-auc:0.926742
[98]	train-auc:0.98623	val-auc:0.926686
[99]	train-auc:0.986379	val-auc:0.926624
[100]	train-auc:0.986543	val-auc:0.926587
[101]	train-auc:0.986658	val-auc:0.926578
[102]	train-auc:0.986755	val-auc:0.926543
[103]	train-auc:0.986885	val-auc:0.9265
[104]	train-auc:0.986977	val-auc:0.926503
[105]	train-auc:0.987089	val-auc:0.926578
[106]	train-auc:0.987196	val-auc:0.926491
[107]	train-auc:0.987317	val-auc:0.926424
[108]	train-auc:0.987399	val-auc:0.926372
[109]	train-auc:0.987462	val-auc:0.926372
[110]	train-auc:0.987568	val-auc:0.926351
[111]	train-auc:0.987626	val-auc:0.92639
[112]	train-auc:0.987707	val-auc:0.926452
[113]	train-auc:0.987805	val-auc:0.926462
[114]	train-auc:0.98804	val-auc:0.926635
Stopping. Best iteration:
[94]	train-auc:0.985658	val-auc:0.926847

In [69]:
val_pred = bst.predict(test_data)

In [67]:
result_pd = pd.DataFrame(data=dataset_all.iloc[25317:,:].ID, columns=['ID'])
result_pd['pred'] = val_pred
result_pd.to_csv('result_xgb_20190326_standardscaler.csv', index=False)

In [100]:
xgb_model = xgb.XGBClassifier(max_depth=11, learning_rate=0.05, n_estimators=300, verbosity=1, objective='binary:logistic', booster='gbtree', n_jobs=3, random_state=7)
xgb_model.fit(x_train, y_train, eval_set=[(x_val, y_val)], eval_metric='auc', early_stopping_rounds=50, verbose=1)

[0]	validation_0-auc:0.893108
Will train until validation_0-auc hasn't improved in 50 rounds.
[1]	validation_0-auc:0.89707
[2]	validation_0-auc:0.899046
[3]	validation_0-auc:0.902894
[4]	validation_0-auc:0.903396
[5]	validation_0-auc:0.908096
[6]	validation_0-auc:0.909958
[7]	validation_0-auc:0.912055
[8]	validation_0-auc:0.912751
[9]	validation_0-auc:0.914861
[10]	validation_0-auc:0.916954
[11]	validation_0-auc:0.917851
[12]	validation_0-auc:0.918633
[13]	validation_0-auc:0.919531
[14]	validation_0-auc:0.920237
[15]	validation_0-auc:0.920744
[16]	validation_0-auc:0.92104
[17]	validation_0-auc:0.921601
[18]	validation_0-auc:0.921917
[19]	validation_0-auc:0.921984
[20]	validation_0-auc:0.922248
[21]	validation_0-auc:0.922546
[22]	validation_0-auc:0.922736
[23]	validation_0-auc:0.922655
[24]	validation_0-auc:0.922762
[25]	validation_0-auc:0.923118
[26]	validation_0-auc:0.923156
[27]	validation_0-auc:0.923488
[28]	validation_0-auc:0.923659
[29]	validation_0-auc:0.923976
[30]	validation_0-auc:0.923851
[31]	validation_0-auc:0.92375
[32]	validation_0-auc:0.924039
[33]	validation_0-auc:0.924509
[34]	validation_0-auc:0.924328
[35]	validation_0-auc:0.924478
[36]	validation_0-auc:0.924436
[37]	validation_0-auc:0.924468
[38]	validation_0-auc:0.924554
[39]	validation_0-auc:0.924598
[40]	validation_0-auc:0.924534
[41]	validation_0-auc:0.924589
[42]	validation_0-auc:0.924621
[43]	validation_0-auc:0.924517
[44]	validation_0-auc:0.924407
[45]	validation_0-auc:0.924464
[46]	validation_0-auc:0.924432
[47]	validation_0-auc:0.924365
[48]	validation_0-auc:0.924272
[49]	validation_0-auc:0.924216
[50]	validation_0-auc:0.924239
[51]	validation_0-auc:0.924062
[52]	validation_0-auc:0.924168
[53]	validation_0-auc:0.924086
[54]	validation_0-auc:0.924027
[55]	validation_0-auc:0.923933
[56]	validation_0-auc:0.923743
[57]	validation_0-auc:0.923757
[58]	validation_0-auc:0.923696
[59]	validation_0-auc:0.923569
[60]	validation_0-auc:0.923741
[61]	validation_0-auc:0.923669
[62]	validation_0-auc:0.923719
[63]	validation_0-auc:0.92377
[64]	validation_0-auc:0.923823
[65]	validation_0-auc:0.9238
[66]	validation_0-auc:0.923763
[67]	validation_0-auc:0.923719
[68]	validation_0-auc:0.923638
[69]	validation_0-auc:0.923542
[70]	validation_0-auc:0.923658
[71]	validation_0-auc:0.923529
[72]	validation_0-auc:0.923338
[73]	validation_0-auc:0.923262
[74]	validation_0-auc:0.923089
[75]	validation_0-auc:0.923243
[76]	validation_0-auc:0.923363
[77]	validation_0-auc:0.923278
[78]	validation_0-auc:0.923374
[79]	validation_0-auc:0.923294
[80]	validation_0-auc:0.92342
[81]	validation_0-auc:0.923349
[82]	validation_0-auc:0.923244
[83]	validation_0-auc:0.923308
[84]	validation_0-auc:0.923285
[85]	validation_0-auc:0.923282
[86]	validation_0-auc:0.923283
[87]	validation_0-auc:0.923156
[88]	validation_0-auc:0.923262
[89]	validation_0-auc:0.923181
[90]	validation_0-auc:0.923135
[91]	validation_0-auc:0.923132
[92]	validation_0-auc:0.923131
Stopping. Best iteration:
[42]	validation_0-auc:0.924621

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=1, gamma=0, learning_rate=0.05, max_delta_step=0,
       max_depth=11, min_child_weight=1, missing=None, n_estimators=300,
       n_jobs=3, nthread=None, objective='binary:logistic', random_state=7,
       reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
       silent=True, subsample=1, verbosity=1)

In [99]:
y_train.shape

(20253,)

In [103]:
xgb_model.predict_proba(dataset__test_set)

array([[0.9020449 , 0.09795513],
       [0.9335096 , 0.06649042],
       [0.93197036, 0.06802967],
       ...,
       [0.940747  , 0.05925298],
       [0.9357796 , 0.06422041],
       [0.8805107 , 0.11948929]], dtype=float32)

In [106]:
pred_test[:,1]

array([0.09795513, 0.06649042, 0.06802967, ..., 0.05925298, 0.06422041,
       0.11948929], dtype=float32)

In [107]:
pred_test = xgb_model.predict_proba(dataset__test_set)
pred_test_y = pred_test[:,1]
result_pd = pd.DataFrame(data=dataset_all.iloc[25317:,:].ID, columns=['ID'])
result_pd['pred'] = pred_test_y
result_pd.to_csv('result_xgb_proba_20190326_standardscaler.csv', index=False)

In [102]:
pred_test

array([[0.9020449 , 0.09795513],
       [0.9335096 , 0.06649042],
       [0.93197036, 0.06802967],
       ...,
       [0.940747  , 0.05925298],
       [0.9357796 , 0.06422041],
       [0.8805107 , 0.11948929]], dtype=float32)